.main {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;


  z-index: -1;
  &__background {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
    
    &_first {
      transform: translateZ(-30px) scale(4.1);
    }

    &_second {
      top: 95vh;
      transform: translateZ(-20px) scale(3.1);

    }

    &_thrid {
      top: 95vh;
      transform: translateZ(-10px) scale(2.1);

    }
    &_mask-top {
      height: 195vh;
      background: rgb(11,29,38);
      background: linear-gradient(135deg, rgba(11,29,38,0.5) 0%, rgba(11,29,38, 0.2) 50%);
      transform: translateZ(-20px) scale(3.1);
      z-index: 2;
    }

  }

  &__wrapper {
    // margin-top: 20vh;
    transform: translateY(20vh);
    display: flex;
    justify-content: center;
  }

  &__title-block {
  }
}
.title-block {
  max-width: 950px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  &__paragraph {
  }

  &__title {
    font-size: 68px;
    font-weight: 600;
    line-height: 100px;
  }

  &__show-more {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
}


