@import "reset";
@import "fonts";

:root {
  --primary-color: rgba(11, 29, 38, 1);
  --primary-color-50: rgba(11, 29, 38, 0.5);
  --primary-color-0: rgba(11, 29, 38, 0);
  --sub-color: rgba(251, 215, 132, 1);
  --white: rgba(255, 255, 255, 1);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-50: rgba(255, 255, 255, 0.5);

  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body {
  // position: relative;
  background-color: var(--primary-color);
  color: var(--white);
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: inherit
}

.wrapper {
  width: 100%;
  max-width: 1502px;
  padding: 0 20px;
  margin: 0 auto;
}

.paralax-wrapper {
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

.paragraph {
  position: relative;
  padding-left: 104px;
  color: var(--sub-color);
  
  text-transform: uppercase;

  font-size: Gilroy;
  font-weight: 600;

  &::after {
    position: absolute;
    content: "";
    top: calc(0.5em - 1px);
    left: 0;

    width: 72px;
    height: 2px;

    background-color: var(--sub-color)
  }
}
@import "blocks/header";
@import "blocks/footer";
